### Atividade (1.0 pt):  Pré-Processamento dos dados de COVID-19 no Piauí (equipe 5 integrantes)

Apresentar um jupyter notebook gere 4 pickles X_train.pickle, y_train.pickle, X_test.pickle e y_test.pickle referente ao dados pré-processados considerando o dataset dos casos de COVID-19 no estado do Piauí. Considere que que o alvo (y) do dataset é o atributo número de mortes (deaths)

## Importando as bibliotecas

In [60]:
import pandas as pd
import numpy as np
import os
from sklearn.impute import SimpleImputer 
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pickle

pip install -U scikit-learn <br>
python -m pip show scikit-learn<br>

## Aquisição de daos

In [61]:
data = pd.read_csv('caso.csv')

In [62]:
data.head()

,date,state,city,place_type,confirmed,deaths,order_for_place,is_last,estimated_population_2019,estimated_population,city_ibge_code,confirmed_per_100k_inhabitants,death_rate
0,2022-03-27,AP,NaN,state,160328,2122,734,True,845731.0,861773.0,16.0,18604.43527,0.0132
1,2022-03-26,AP,NaN,state,160321,2122,733,False,845731.0,861773.0,16.0,18603.62300,0.0132
2,2022-03-25,AP,NaN,state,160314,2122,732,False,845731.0,861773.0,16.0,18602.81072,0.0132
3,2022-03-24,AP,NaN,state,160301,2122,731,False,845731.0,861773.0,16.0,18601.30220,0.0132
4,2022-03-23,AP,NaN,state,160288,2122,730,False,845731.0,861773.0,16.0,18599.79368,0.0132

In [63]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2838003 entries, 0 to 2838002
Data columns (total 13 columns):
 #   Column                          Dtype
---  ------                          -----
 0   date                            object
 1   state                           object
 2   city                            object
 3   place_type                      object
 4   confirmed                       int64
 5   deaths                          int64
 6   order_for_place                 int64
 7   is_last                         bool
 8   estimated_population_2019       float64
 9   estimated_population            float64
 10  city_ibge_code                  float64
 11  confirmed_per_100k_inhabitants  float64
 12  death_rate                      float64
dtypes: bool(1), float64(5), int64(3), object(4)
memory usage: 262.5+ MB

## Pegando os dados do piaui

In [64]:
data_piaui = data[data['state'] == 'PI']

In [65]:
cidades = data_piaui[(data_piaui['is_last'] == True)]

In [66]:
len(cidades)

225

In [67]:
cidades.head()

,date,state,city,place_type,confirmed,deaths,order_for_place,is_last,estimated_population_2019,estimated_population,city_ibge_code,confirmed_per_100k_inhabitants,death_rate
1095342,2022-03-26,PI,NaN,state,367515,7721,738,True,3273227.0,3281480.0,22.0,11199.67210,0.0210
1096080,2022-03-26,PI,Acauã,city,228,2,658,True,7084.0,7102.0,2200053.0,3210.36328,0.0088
1096738,2022-03-26,PI,Agricolândia,city,829,10,650,True,5139.0,5131.0,2200103.0,16156.69460,0.0121
1097388,2022-03-26,PI,Alagoinha do Piauí,city,402,13,664,True,7651.0,7665.0,2200251.0,5244.61840,0.0323
1098052,2022-03-26,PI,Alegrete do Piauí,city,553,9,646,True,4915.0,4918.0,2200277.0,11244.40830,0.0163

In [68]:
cidades.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 225 entries, 1095342 to 1245985
Data columns (total 13 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   date                            225 non-null    object
 1   state                           225 non-null    object
 2   city                            224 non-null    object
 3   place_type                      225 non-null    object
 4   confirmed                       225 non-null    int64
 5   deaths                          225 non-null    int64
 6   order_for_place                 225 non-null    int64
 7   is_last                         225 non-null    bool
 8   estimated_population_2019       225 non-null    float64
 9   estimated_population            225 non-null    float64
 10  city_ibge_code                  225 non-null    float64
 11  confirmed_per_100k_inhabitants  225 non-null    float64
 12  death_rate                      225 non-null    float64
dtypes: bool(1), float64(5), int64(3), object(4)
memory usage: 23.1+ KB

In [69]:
cidades_t = cidades.dropna(subset=["city"])
cidades_t.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 224 entries, 1096080 to 1245985
Data columns (total 13 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   date                            224 non-null    object
 1   state                           224 non-null    object
 2   city                            224 non-null    object
 3   place_type                      224 non-null    object
 4   confirmed                       224 non-null    int64
 5   deaths                          224 non-null    int64
 6   order_for_place                 224 non-null    int64
 7   is_last                         224 non-null    bool
 8   estimated_population_2019       224 non-null    float64
 9   estimated_population            224 non-null    float64
 10  city_ibge_code                  224 non-null    float64
 11  confirmed_per_100k_inhabitants  224 non-null    float64
 12  death_rate                      224 non-null    float64
dtypes: bool(1), float64(5), int64(3), object(4)
memory usage: 23.0+ KB

In [70]:
cidades_target = cidades_t["deaths"].copy()
cidades_t = cidades_t.drop('deaths', axis=1) 
cidades_t

,date,state,city,place_type,confirmed,order_for_place,is_last,estimated_population_2019,estimated_population,city_ibge_code,confirmed_per_100k_inhabitants,death_rate
1096080,2022-03-26,PI,Acauã,city,228,658,True,7084.0,7102.0,2200053.0,3210.36328,0.0088
1096738,2022-03-26,PI,Agricolândia,city,829,650,True,5139.0,5131.0,2200103.0,16156.69460,0.0121
1097388,2022-03-26,PI,Alagoinha do Piauí,city,402,664,True,7651.0,7665.0,2200251.0,5244.61840,0.0323
1098052,2022-03-26,PI,Alegrete do Piauí,city,553,646,True,4915.0,4918.0,2200277.0,11244.40830,0.0163
1098698,2022-03-26,PI,Alto Longá,city,858,680,True,14304.0,14339.0,2200301.0,5983.68087,0.0175
...,...,...,...,...,...,...,...,...,...,...,...,...
1243291,2022-03-26,PI,Vila Nova do Piauí,city,349,689,True,2971.0,2952.0,2211605.0,11822.49322,0.0086
1243980,2022-03-26,PI,Várzea Branca,city,204,666,True,4947.0,4938.0,2211357.0,4131.22722,0.0588
1244646,2022-03-26,PI,Várzea Grande,city,561,697,True,4391.0,4386.0,2211407.0,12790.69767,0.0018
1245343,2022-03-26,PI,Wall Ferraz,city,335,642,True,4462.0,4471.0,2211704.0,7492.73093,0.0090
1245985,2022-03-26,PI,Água Branca,city,1702,699,True,17411.0,17470.0,2200202.0,9742.41557,0.0452

Dados faltantes: cidades_t = cidades.dropna(subset=[""])

In [73]:
cidades_float = cidades_t.drop(['date', 'state', 'city', 'place_type', 'is_last'], axis=1)
cidades_float

,confirmed,order_for_place,estimated_population_2019,estimated_population,city_ibge_code,confirmed_per_100k_inhabitants,death_rate
1096080,228,658,7084.0,7102.0,2200053.0,3210.36328,0.0088
1096738,829,650,5139.0,5131.0,2200103.0,16156.69460,0.0121
1097388,402,664,7651.0,7665.0,2200251.0,5244.61840,0.0323
1098052,553,646,4915.0,4918.0,2200277.0,11244.40830,0.0163
1098698,858,680,14304.0,14339.0,2200301.0,5983.68087,0.0175
...,...,...,...,...,...,...,...
1243291,349,689,2971.0,2952.0,2211605.0,11822.49322,0.0086
1243980,204,666,4947.0,4938.0,2211357.0,4131.22722,0.0588
1244646,561,697,4391.0,4386.0,2211407.0,12790.69767,0.0018
1245343,335,642,4462.0,4471.0,2211704.0,7492.73093,0.0090
1245985,1702,699,17411.0,17470.0,2200202.0,9742.41557,0.0452

## Dividando os dados em treino e teste

In [74]:
X_train, X_test, y_train, y_test = train_test_split(cidades_float, cidades_target, test_size = 0.2,random_state=1, shuffle=True)

In [76]:
X_train.shape

(179, 7)

In [77]:
X_test.shape

(45, 7)

In [75]:
print(X_train)

         confirmed  order_for_place  estimated_population_2019  \
1233749         69              693                     4573.0
1218993        570              628                     4294.0
1244646        561              697                     4391.0
1183371       1192              651                    10613.0
1155250        908              667                    10690.0
...            ...              ...                        ...
1232366       3644              691                    20601.0
1188093        947              673                     8692.0
1144478        655              681                     6904.0
1190081        281              669                     2991.0
1120984        759              673                    10586.0

         estimated_population  city_ibge_code  confirmed_per_100k_inhabitants  \
1233749                4577.0       2210359.0                      1507.53769
1218993                4303.0       2210631.0                     13246.57216
1244646                4386.0       2211407.0                     12790.69767
1183371               10615.0       2206605.0                     11229.39237
1155250               10694.0       2204402.0                      8490.74247
...                       ...             ...                             ...
1232366               20662.0       2210003.0                     17636.24044
1188093                8723.0       2206803.0                     10856.35676
1144478                6922.0       2203404.0                      9462.58307
1190081                3003.0       2206951.0                      9357.30936
1120984               10630.0       2202059.0                      7140.16933

         death_rate
1233749      0.0435
1218993      0.0158
1244646      0.0018
1183371      0.0159
1155250      0.0077
...             ...
1232366      0.0104
1188093      0.0169
1144478      0.0183
1190081      0.0178
1120984      0.0224

[179 rows x 7 columns]

In [78]:
#z = (x - u) / s
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [79]:
print(X_train)

[[-0.18069118  0.75092493 -0.15927876 ...  1.3323946  -1.44571907
   0.65535735]
 [-0.12492096 -1.57274837 -0.16359189 ...  1.41413932  0.85135965
  -0.44570607]
 [-0.12592282  0.89392021 -0.16209235 ...  1.64735219  0.76215473
  -1.00220022]
 ...
 [-0.11545895  0.32193909 -0.12324324 ... -0.75780585  0.11091368
  -0.34633211]
 [-0.15709181 -0.10704675 -0.1837353  ...  0.30818135  0.09031385
  -0.3662069 ]
 [-0.1038819   0.03594853 -0.06632227 ... -1.16202146 -0.34353317
  -0.18335883]]

In [80]:
X_train.shape

(179, 7)

In [81]:
print(X_test)

[[-0.11134019  0.60792965 -0.08590914 -0.08533996 -0.5173802  -0.29588017
  -0.61265431]
 [-0.17056126 -1.60849719 -0.17006932 -0.17042186 -1.18335924 -0.9270793
   0.1664375 ]
 [-0.14540344  0.46493437 -0.15338879 -0.15317137 -0.81009843 -0.22034231
  -0.76370272]
 [-0.16488406 -0.46453495 -0.16114933 -0.16119593 -0.18799707 -0.81226139
   0.24593666]
 [-0.13171135 -0.28579085 -0.16128846 -0.1610111  -0.80258512  0.49298263
  -0.83922693]
 [-0.15286173 -2.68096179 -0.18347249 -0.18340594 -0.17026568  0.33654245
  -0.57687969]
 [-0.17378948 -1.17951135 -0.1575937  -0.1575302  -0.92400008 -1.19356356
   0.74678139]
 [-0.13282453 -0.50028377 -0.11183431 -0.11149294 -1.15480869 -0.46831618
   0.59970794]
 [-0.1526391   0.07169735 -0.0822453  -0.08236733 -0.74307978 -1.08401728
  -0.20720858]
 [-0.09286144  0.28619027 -0.00884477 -0.00883709 -1.69035682 -0.5698333
  -0.37813178]
 [-0.0400968   1.32290605 -0.04249956 -0.04272199  0.65529588  0.40644996
  -0.1475842 ]
 [-0.17256498 -0.14279557 -0.14100592 -0.14068016  1.12172163 -1.25989578
  -0.23503328]
 [-0.04276842  0.03594853  0.08729633  0.08688775  0.5636336  -0.4954668
  -0.52520523]
 [-0.14250918 -0.14279557 -0.10150753 -0.10120425 -0.02150231 -0.77428176
  -0.49340557]
 [ 0.5594609   0.92966903  0.37615248  0.37617239 -0.1254864   1.60118683
  -0.55302994]
 [-0.13070949  1.25140841 -0.14231996 -0.14212797 -1.20109063  0.04225284
  -0.38210674]
 [-0.15887289 -0.71477669 -0.18126182 -0.18117262  0.80405924 -0.09452636
  -0.32248236]
 [-0.09809337  0.03594853 -0.1700384  -0.16994439 -0.39836951  2.35043015
  -0.6325291 ]
 [ 0.09136953  0.03594853  0.06535965  0.06557107 -0.21774975  0.82444451
  -0.40993144]
 [ 0.14791897  1.57314779  0.21511344  0.21503428  0.71480122  0.30661523
   0.32146087]
 [ 1.98199112  1.89488717  2.13649768  2.13427505  0.53388093  0.74501731
  -0.09193479]
 [-0.08929927  0.42918555 -0.0942726  -0.09421164  0.83381192  0.23921089
  -0.13565933]
 [-0.16677646 -0.28579085 -0.13925903 -0.13897051 -1.01776608 -1.09620164
   1.38674966]
 [-0.16410483  0.25044145 -0.1593406  -0.15940927  1.49618457 -0.8058457
   0.20221212]
 [-0.16733305  0.82242257 -0.14793167 -0.14776518 -0.65382176 -1.04540711
   0.18631229]
 [ 0.47241037  0.82242257  0.4976313   0.49706447 -1.4201785   0.72097836
  -0.37018186]
 [-0.07772222 -0.28579085 -0.00375867 -0.0040624   1.43667922 -0.41294494
  -0.47353077]
 [-0.17913274 -0.10704675 -0.17495444 -0.17465747 -1.15721295 -1.28615481
  -0.11578454]
 [ 0.05073853  1.17991077  0.23861151  0.23912337 -0.06598106 -0.35981384
   0.1465627 ]
 [-0.13059817 -0.07129793 -0.11744602 -0.11708395 -1.12746028 -0.35161025
  -0.4616059 ]
 [-0.17568188 -0.10704675 -0.17821635 -0.17806137 -1.3874205  -1.07521774
   0.32146087]
 [-0.15965212  0.07169735 -0.16329817 -0.1631058   0.548607   -0.5728865
   0.61958273]
 [-0.15007879 -0.96501843 -0.13040088 -0.13036067  0.03740197 -0.69693062
  -0.7279281 ]
 [-0.10610826 -0.21429321 -0.10121381 -0.10112724 -1.19177414 -0.00827475
   0.05513867]
 [-0.15052406  0.46493437 -0.16782773 -0.16758785 -0.95826073 -0.09064385
  -0.37415682]
 [-0.02206331  0.85817139  0.07582557  0.07538229 -1.17975285 -0.2647493
  -0.08795983]
 [-0.11056097  0.75092493 -0.13976918 -0.13994085 -1.50883545  0.60662611
  -0.21913345]
 [ 0.23908826  0.92966903  0.15927462  0.16132672 -1.20890446  1.2190946
  -0.53713011]
 [-0.16299165 -0.50028377 -0.12046058 -0.12030301 -1.76488877 -1.11251241
  -0.72395314]
 [-0.14807507 -1.35825545 -0.15515114 -0.15501963  1.21097965 -0.27958002
  -0.85512676]
 [-0.13616406  0.64367847 -0.15244577 -0.15221643  1.1665009   0.08380682
  -0.39403161]
 [-0.15430886  0.46493437 -0.17207902 -0.1720699   1.25515786 -0.14013267
  -0.68420356]
 [-0.13260189 -2.21622713 -0.18075166 -0.1804025  -0.53240681  1.32288222
  -0.59675448]
 [-0.13816778 -0.07129793 -0.16040729 -0.1603026  -1.23865714  0.2182465
  -0.10385966]
 [ 0.10906906  0.46493437 -0.05086302 -0.04993024 -1.4352051   2.73922473
  -0.53713011]]

## Salvando os conjuntos em pickle

In [82]:
pickle.dump(X_train, open('X_train.pickle', 'wb'))
pickle.dump(X_test, open('X_test.pickle', 'wb'))
pickle.dump(y_train, open('y_train.pickle', 'wb'))
pickle.dump(y_test, open('y_test.pickle', 'wb'))